.speaker {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 60px;
  height: 100px;
}
img {
  height: 50%;
  cursor: pointer;
}
.hideImage {
  height: 40%;
  width: 32%;
  transform: translate(170%, -120%);
}
